<div class="card bg-secondary currency-bar">
    <div class="card-body">
        <h2>
            <span class="badge bg-light currency">
                <span class="badge rounded-pill bg-success currency-badge">R$</span>
                <span class="currency-balance">500.00</span>
            </span>
            <span tabindex="0" data-bs-toggle="tooltip" title="Purchases are disabled for now">
                <button type="button" class="btn currency-button buy-button disabled" data-bs-toggle="tooltip" title="Exchange other currency for R$">
                    BUY<br>
                    <img class="currency-button-icon" src="/assets/icons/buy.svg">
                </button>
            </span>
            <span tabindex="0" data-bs-toggle="tooltip" title="Sales are disabled for now">
                <button type="button" class="btn currency-button sell-button disabled" data-bs-toggle="tooltip" title="Exchange R$ for other currency">
                    SELL<br>
                    <img class="currency-button-icon" src="/assets/icons/sell.svg">
                </button>
            </span>
            <span tabindex="0" data-bs-toggle="tooltip" title="Deposits are disabled for now">
                <button type="button" class="btn currency-button deposit-button disabled" data-bs-toggle="tooltip" title="Add money from a bank account">
                    DEPOSIT<br>
                    <img class="currency-button-icon" src="/assets/icons/deposit.svg">
                </button>
            </span>
            <span tabindex="0" data-bs-toggle="tooltip" title="Withdraws are disabled for now">
                <button type="button" class="btn currency-button withdraw-button disabled" data-bs-toggle="tooltip" title="Transfer money to a bank account">
                    WITHDRAW<br>
                    <img class="currency-button-icon" src="/assets/icons/withdraw.svg">
                </button>
            </span>
        </h2>
    </div>
</div>
<div class="card bg-secondary currency-bar">
    <div class="card-body">
        <h2>
            <span class="badge bg-light currency">
                <span class="badge rounded-pill bg-success currency-badge">US$</span>
                <span class="currency-balance">500.00</span>
            </span>
            <span tabindex="0" data-bs-toggle="tooltip" title="Purchases are disabled for now">
                <button type="button" class="btn currency-button buy-button disabled" data-bs-toggle="tooltip" title="Exchange other currency for US$">
                    BUY<br>
                    <img class="currency-button-icon" src="/assets/icons/buy.svg">
                </button>
            </span>
            <span tabindex="0" data-bs-toggle="tooltip" title="Sales are disabled for now">
                <button type="button" class="btn currency-button sell-button disabled" data-bs-toggle="tooltip" title="Exchange US$ for other currency">
                    SELL<br>
                    <img class="currency-button-icon" src="/assets/icons/sell.svg">
                </button>
            </span>
            <span tabindex="0" data-bs-toggle="tooltip" title="Deposits are disabled for now">
                <button type="button" class="btn currency-button deposit-button disabled" data-bs-toggle="tooltip" title="Add money from a bank account">
                    DEPOSIT<br>
                    <img class="currency-button-icon" src="/assets/icons/deposit.svg">
                </button>
            </span>
            <span tabindex="0" data-bs-toggle="tooltip" title="Withdraws are disabled for now">
                <button type="button" class="btn currency-button withdraw-button disabled" data-bs-toggle="tooltip" title="Transfer money to a bank account">
                    WITHDRAW<br>
                    <img class="currency-button-icon" src="/assets/icons/withdraw.svg">
                </button>
            </span>
        </h2>
    </div>
</div>
<div class="card bg-secondary currency-bar">
    <div class="card-body">
        <h2>
            <span class="badge bg-light currency">
                <span class="badge rounded-pill bg-success currency-badge">€$</span>
                <span class="currency-balance">500.00</span>
            </span>
            <span tabindex="0" data-bs-toggle="tooltip" title="Purchases are disabled for now">
                <button type="button" class="btn currency-button buy-button disabled" data-bs-toggle="tooltip" title="Exchange other currency for €$">
                    BUY<br>
                    <img class="currency-button-icon" src="/assets/icons/buy.svg">
                </button>
            </span>
            <span tabindex="0" data-bs-toggle="tooltip" title="Sales are disabled for now">
                <button type="button" class="btn currency-button sell-button disabled" data-bs-toggle="tooltip" title="Exchange €$ for other currency">
                    SELL<br>
                    <img class="currency-button-icon" src="/assets/icons/sell.svg">
                </button>
            </span>
            <span tabindex="0" data-bs-toggle="tooltip" title="Deposits are disabled for now">
                <button type="button" class="btn currency-button deposit-button disabled" data-bs-toggle="tooltip" title="Add money from a bank account">
                    DEPOSIT<br>
                    <img class="currency-button-icon" src="/assets/icons/deposit.svg">
                </button>
            </span>
            <span tabindex="0" data-bs-toggle="tooltip" title="Withdraws are disabled for now">
                <button type="button" class="btn currency-button withdraw-button disabled" data-bs-toggle="tooltip" title="Transfer money to a bank account">
                    WITHDRAW<br>
                    <img class="currency-button-icon" src="/assets/icons/withdraw.svg">
                </button>
            </span>
        </h2>
    </div>
</div>
<div class="card bg-secondary currency-bar">
    <div class="card-body">
        <h2>
            <span class="badge bg-light currency">
                <span class="badge rounded-pill bg-success currency-badge">£$</span>
                <span class="currency-balance">500.00</span>
            </span>
            <span tabindex="0" data-bs-toggle="tooltip" title="Purchases are disabled for now">
                <button type="button" class="btn currency-button buy-button disabled" data-bs-toggle="tooltip" title="Exchange other currency for £$">
                    BUY<br>
                    <img class="currency-button-icon" src="/assets/icons/buy.svg">
                </button>
            </span>
            <span tabindex="0" data-bs-toggle="tooltip" title="Sales are disabled for now">
                <button type="button" class="btn currency-button sell-button disabled" data-bs-toggle="tooltip" title="Exchange £$ for other currency">
                    SELL<br>
                    <img class="currency-button-icon" src="/assets/icons/sell.svg">
                </button>
            </span>
            <span tabindex="0" data-bs-toggle="tooltip" title="Deposits are disabled for now">
                <button type="button" class="btn currency-button deposit-button disabled" data-bs-toggle="tooltip" title="Add money from a bank account">
                    DEPOSIT<br>
                    <img class="currency-button-icon" src="/assets/icons/deposit.svg">
                </button>
            </span>
            <span tabindex="0" data-bs-toggle="tooltip" title="Withdraws are disabled for now">
                <button type="button" class="btn currency-button withdraw-button disabled" data-bs-toggle="tooltip" title="Transfer money to a bank account">
                    WITHDRAW<br>
                    <img class="currency-button-icon" src="/assets/icons/withdraw.svg">
                </button>
            </span>
        </h2>
    </div>
</div>    